* {
  background-color: #2d2828;
  margin: 0;
  padding: 0;
}
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slide {
  margin-bottom: 20px;
}

.slide-image {
  width: 500px;
  height: 300px;
}

.thumbnails-container {
  display: flex;
  align-items: center;
}

.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.thumbnails {
  display: flex;
  overflow-x: auto;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid #000;
}
/* tablet */
@media (max-width: 768px) {
  .slide-image {
    max-height: 200px;
  }
  .prev-button,
  .next-button {
    font-size: 1.5rem;
  }
  .thumbnail {
    width: 40px;
    height: 40px;
  }
}

/* mobile */
@media (max-width: 480px) {
  .slide-image {
    max-height: 150px;
  }
  .prev-button,
  .next-button {
    font-size: 1.2rem;
  }
  .thumbnail {
    width: 30px;
    height: 30px;
  }
}
